NODE_ENV=development
PORT=3000
API_KEY=change_me_for_local_dev

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=kim_son_dev
DATABASE_PASSWORD=change_me_for_local_dev
DATABASE_NAME=kim_son_agriculture
DATABASE_URL=postgresql://kim_son_dev:change_me_for_local_dev@localhost:5432/kim_son_agriculture
